<p>Detalhe do produto</p>
 {{#each listProdutos}}
 <div>
     ID:{{id}}
 </div>
<div>
    Nome: {{name}}
</div>
<div>
    Descrição: {{description}}
</div>
<div>
    Preço: {{price}}
</div>

 {{/each}}