<div style="width: 500px; margin: 0 auto; text-align:center">
    <h1>Login github</h1>
    <a href="/auth/github">Login gint hub</a>
</div>
<div style="width: 500px; margin: 0 auto; text-align:center; margin-top:20px">
    <h1>Login Facebook</h1>
    <a href="/oauthFace">Login facebook</a>
</div>